@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './prism.css';
@import 'tailwindcss/utilities';

.bouncing-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: bounce 1s infinite;
}

.bouncing-arrow svg {
  fill: currentColor; /* Adjust color if needed */
  width: 24px; /* Adjust size if needed */
}

.bouncing-arrow span {
  margin-bottom: 8px; /* Adjust spacing if needed */
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

#responsiveIframe {
  position: relative;

  overflow: hidden;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-height: 260px;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

/* Add a media query for medium screens and larger ot change the min eight */
@media (min-width: 768px) {
  #responsiveIframe {
    min-height: 360px;
  }
}
